.parrafo-cont {
    font-size: 12px;
    color: rgb(104, 103, 103);
    margin: 5% 0% 0px 0px;
  }
  
  .form-group {
    margin: 15px 0px;
  }
  
  input, textarea {
    border-radius: 5px;
    border-color: #ff8300;
  }
  
