@media (max-width: 860px) {
    .hamburger {
      display: block;
  
      &.active .bar {
        &:nth-child(2) {
          opacity: 0;
        }
  
        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
  
        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 53px;
      gap: 60px;
      flex-direction: column;
      background-color: #ff8300;
      width: 90%;
      height: 100vh;
      text-align: start;
      transition: 0.3s;
  
      &.active {
        left: 0;
      }
    }
  }