
  @media (max-width: 425px){
    .color-bar {
    width: 100%;
    height: 5px;
    background-color: orange;
  }
  }
  @media (max-width: 375px){
    .color-bar {
        width: 100%;
        height: 5px;
        background-color: orange;
      }
  }